
body {
  background-image: url('https://cdn.glitch.me/984e2d49-bbc2-445b-9c74-9ff7b5a4c438%2FHome%20page.jpg?v=1636642447691')
}

A { text-decoration: none; 
color: green;
  background-color: transparent;} 

h1 {font-size:15px;
  border-radius: 16em;
   background: 
    linear-gradient(to right, darkblue, darkorchid) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  box-sizing: content-box;
  padding: 10px;
  float: right;
  font-family: "papyrus";
  background: linear-gradiant(to right, red,purple);
}

h4 {text-align: justify;
text-indent: 50px;}
p3 {text-align: justify;}
p {
  position:absolute; left:0px; top:100px;
  color:#C23232;
}

