
body {
  background-image: url('https://cdn.glitch.me/984e2d49-bbc2-445b-9c74-9ff7b5a4c438%2FHome%20page.jpg?v=1636642447691')
}

A { text-decoration: none; } 

h1 {font-size:15px;
  border-radius: 16em;
   background: 
    linear-gradient(to right, darkblue, darkorchid) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  box-sizing: content-box;
  padding: 10px;
  float: right;
  font-family: "papyrus";
  background: linear-gradiant(to right, red,purple);
}

p {
  position:absolute; left:0px; top:100px;
  color:#fff;
  border-radius: 16px;
   background: 
    linear-gradient(to right, darkorchid, darkred) padding-box,
    linear-gradient(to right, black, black) border-box;
   box-sizing: content-box;
  float:center
    
}